.category{
  background-color: #fff;
  padding: 20px 0;
  margin-bottom: 20px;
}

.category-wrapper{
  width: 80%;
  margin: auto;
}

.nav-item{
  list-style: none;

}

.nav-link {
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
