.news-container {
  padding: 20px;
}

.news-container h2 {
  text-align: center;
}

.news-image {
  background-color: red;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-item {
  display: flex;
  border: 1px solid grey;
  padding: 20px;
}

.news-title {
    margin-left: 20px;
}
