@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f0f0f0;
}

.home,
.showbiz,
.bookmarks {
  position: relative;
  background-color: #fff;
  margin: auto;
  width: 70%;
}

.home .home-title {
  text-align: center;
  padding-top: 10px;
}

.bookmarks-title {
  text-align: center;
  padding: 20px 0;
}
