@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f0f0f0;
}

.home,
.showbiz {
  position: relative;
  background-color: #fff;
  margin: auto;
  width: 70%;
}

.bookmark {
  color: #000;
}

/* .home {
  position: relative;
  height: 100%;
} */
