* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #b9bec7;
}

.home,
.showbiz {
  position: relative;
  background-color: #fff;
  margin: auto;
  width: 70%;
}

/* .home {
  position: relative;
  height: 100%;
} */
